.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-content{
    margin: 0px auto;
    padding: 30px 0px 30px 0px;
    min-height: 400px;
    border-bottom: 1px ridge;
}
.footer{
    padding-top: 20px;
    background-color:rgba(179, 193, 204, 0.89);
}
.jumbotron{
    margin: 0px auto;
    padding: 70px 30px 70px 30px;
    background: #9575CD;
    color: floralwhite;
}
address{
  font-size: 80%;
  color: #0f0f0f;
  margin: 0px;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
.navbar-inverse {
     background-color: #512DA8;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}